version: '3.9'

services:
  db:
    build:
      context: .
      dockerfile: Dockerfile.mssql
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Teste&&987!
      - MSSQL_PID=Express
    ports:
      - "1433:1433"
    volumes:
      - mssql_data:/var/opt/mssql
volumes:
  mssql_data:
